:root {
  --BGColor: #606b56;
  --secondaryColor: #515a48;

  --borderColor: #161914;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotborder: #fff;

  --previewBg: rgb(81, 98, 0.8);

  --previewShadow: #2a2f25;

  --buttonColor: #669966;
}
