:root {
  --primaryColor: #fec7d7;
  --secondaryColor: #737374;

  --borderColor: #1d1520;

  --mainText: rgb(255, 247, 247);
  --secondaryText: #333333;

  --themeDotborder: #fff;

  --previewBg: rgb(29, 21, 32, 0.8);

  --previewShadow: #2b202f;

  --buttonColor: #8534a3;
}
